form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--form-bg);
  box-shadow: 0 0 10px var(--shadow-color);
}

h2 {
  text-align: center;
  color: var(--form-text);
  margin-bottom: 20px;
}

div {
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  display: block;
  color: var(--form-text);
}

input {
  padding: 10px;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--input-bg);
  color: var(--form-text);
}

button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #218838;
}

p {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group input {
  flex: 1;
  margin-right: 10px;
}

.input-group select {
  width: 100px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-group button {
  width: 48%;
}

.height-input {
  display: flex; /* Arranges elements horizontally */
  gap: 10px; /* Adds spacing between each element */
}

.height-input select, .height-input input {
  padding: 5px;
  font-size: 16px;
}

.weight-input {
  display: flex; /* Arranges elements horizontally */
  gap: 10px; /* Adds spacing between each element */
}

.weight-input select, .weight-input input {
  padding: 5px;
  font-size: 16px;
}

.sex-input {
  display: flex; /* Arranges elements horizontally */
  gap: 10px; /* Adds spacing between each element */
}

.sex-input select, .sex-input input {
  padding: 5px;
  font-size: 16px;
}
